<html>
    <head>
        <title>Alex's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Alex's Blog</a></h1>
        </div>

        <div>
            <p>published: 19.02.2020, 9:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to the first post. I tried my best to make it interesting, but idk how interesting it really is.</p>
        </div>

        <div>
            <p>published: 15.02.2020, 9:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>